@import url('https://fonts.googleapis.com/css?family=Roboto');
.home-container {
    padding: 1em
}

.bg {
    background-image: url('../../../assets/bgimage.svg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.name {
    font-family: Medium Roboto;
    font-weight: bold;
    padding-left: 20px;
    font-size: 2.4rem;
    color: #555cf5;
    margin-bottom: -20px;
    text-transform: capitalize;
}

.title {
    color: var(--color-heading);
    padding-left: 20px;
}

.header {
    padding-top: 50px;
    margin-bottom: -17px;
    padding-left: 20px;
    font-size: 33px;
    font-family: Medium Roboto;
    opacity: 1;
    color: rgba(112, 112, 112, 1);
}

::ng-deep .mat-progress-bar-fill::after {
    background-color: rgba(226, 220, 60, 1);
}

::ng-deep .mat-progress-bar-buffer {
    background: white;
}

.progress {
    height: 10px;
    margin-top: 37px;
    border-radius: 5px;
}

mat-card {
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
}

.time-table-card {
    color: #FFFFFFDE !important;
    background-image: url('../../../assets/card1.svg');
}

.overall-record-card {
    color: #FFFFFFDE !important;
    background-image: url('../../../assets/card2.svg')
}

.table-button {
    border-radius: 30px;
    color: rgba(118, 205, 108, 1);
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-center {
    text-align: center;
}

.chart-wrapper {
    position: relative;
}

span {
    font-weight: bold;
}