<div class="bg">
    <div fxLayout="column">
        <div class="header">Batches</div>
        <div>
            <h1 class="name">
                Welcome Back {{ teacherInfo.firstName || '' }} {{ teacherInfo.lastName || '' }}
            </h1>
        </div>
        <div>
            <h4 class="title">
                Here Are Batches You Teaching And Time Table For Lecture
            </h4>
        </div>
    </div>
    <div fxLayout="row" fxLayout.xs="column">
        <div fxFlex="30" fxFlex.xs="100" style="min-width: 30%" class="card-container">
            <mat-card class="time-table-card">
                <mat-card-content>
                    <h3>
                        Your Class <br /> Schedule <br /> Time Table
                    </h3>
                    <button mat-raised-button class="table-button">VIEW TABLE</button>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="70" fxFlex.xs="100" class="card-container">
            <mat-card class="overall-record-card">
                <mat-card-content fxFlexOffset="20" fxFlex>
                    <h3>This is your Overall growth for your total Classes.</h3>
                    <h2>
                        <i><b>Good Keep it up!</b></i>
                    </h2>
                    <mat-progress-bar mode="determinate" class="progress" value="40"></mat-progress-bar>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div fxFLexFill>
        <div fxFlexFill fxLayout="row wrap" fxLayoutGap="4% grid" class="card-container">
            <div *ngFor="let subject of teacher" fxFlex="50" fxFlex.xs="100">
                <mat-card>
                    <mat-card-content>
                        <div fxLayout="row wrap">
                            <div fxFlex="60" fxFlex.xs="100" fxFlex.sm="100">
                                <mat-card-title>
                                    {{ subject.subject.standard }} {{ subject.subject.name }}-{{ subject.subject.division }}
                                </mat-card-title>
                                <div fxLayout="column" fxLayoutAlign="space-evenly start" fxLayoutGap="5%">
                                    <p>
                                        <span>{{ 'Current Topic' }}:</span> {{ subject.subject.subjectSate[subject.subject.division] .currentTopic || '' }}
                                    </p>
                                    <p>
                                        <span>{{ 'Next Topic' }} :</span> {{ subject.subject.subjectSate[subject.subject.division] .nextTopic || '' }}
                                    </p>
                                    <p>
                                        <span>{{ 'Last Topic' }} :</span> {{ subject.subject.subjectSate[subject.subject.division] .lastTopic || '' }}
                                    </p>
                                </div>
                            </div>
                            <div class="chart-wrapper" fxFlex="40" fxFlex.xs="100" fxFlex.sm="100">
                                <canvas baseChart [data]="[
                    (subject.subject.subjectSate[subject.subject.division]
                      .completedTopics /
                      subject.subject.subjectSate[subject.subject.division]
                        .totalTopics) *
                      100,
                    100 -
                      (subject.subject.subjectSate[subject.subject.division]
                        .completedTopics /
                        subject.subject.subjectSate[subject.subject.division]
                          .totalTopics) *
                        100
                  ]" [chartType]="doughnutChartType" [options]="chartOptions" [colors]="doughnutChartColors" [lables]="chartOptions">
                </canvas>
                                <div class="absolute-center text-center">
                                    {{ (subject.subject.subjectSate[subject.subject.division] .completedTopics / subject.subject.subjectSate[subject.subject.division] .totalTopics) * 100 }}%
                                </div>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>