table {
    width: 100%;
    box-shadow: none;
}

.table-button {
    position: fixed;
    top: 22.3em;
    right: 2em;
    z-index: 100;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}