<div class="card-container">
    <form [formGroup]="subjectForm" fxLayout="column" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="center">
        <mat-card>
            <mat-card-header fxLayout="row">
                <div style="width: 90%">
                    <mat-card-title>Subject : {{ subject.name || 'New Subject' }}</mat-card-title>
                </div>
                <button fxFlex="5" (click)="saveSubject()" mat-raised-button color="primary">
          Save
        </button>
            </mat-card-header>
            <mat-card-content fxLayout="column">
                <mat-form-field fxLayout="column" fxLayoutGap="1em">
                    <input matInput placeholder="Subject Name" [value]="subject.name" formControlName="name" />
                </mat-form-field>
                <mat-form-field fxLayout="column" fxLayoutGap="1em">
                    <input matInput placeholder="Standard Name" [value]="subject.standard" formControlName="standard" />
                </mat-form-field>
            </mat-card-content>
        </mat-card>
    </form>
</div>

<div class="card-container" fxLayout="column" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="center">
    <mat-card>
        <mat-card-header fxLayout="row">
            <mat-card-title>{{ 'Topics' }}</mat-card-title>
            <div style="width: 90%"></div>
            <button [disabled]="!subject.uuid" (click)="openTopic()" mat-raised-button color="primary">
        New
      </button>
        </mat-card-header>
        <mat-card-content>
            <table mat-table [dataSource]="topics" class="mat-elevation-z8">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Topic Name</th>
                    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="createdBy">
                    <th mat-header-cell *matHeaderCellDef>Created By</th>
                    <td mat-cell *matCellDef="let element">{{ element.createdBy }}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="openTopic(row)"></tr>
            </table>
        </mat-card-content>
    </mat-card>
</div>