<h1 mat-dialog-title>{{title}}</h1>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Topic Name</mat-label>
        <input matInput [(ngModel)]="topicName" />
    </mat-form-field>
</div>

<div mat-dialog-actions>
    <button mat-button color="primary" (click)="saveTopic()">Save</button>
    <button mat-button [disabled]="!data.topic.uuid" color="primary" (click)="deleteTopic()">
    Delete
  </button>
</div>