<div class="card-container">
    <form [formGroup]="standardForm" fxLayout="column" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="center">
        <mat-card>
            <mat-card-header fxLayout="row">
                <div style="width: 90%">
                    <mat-card-title>Standard : {{ standard.name || 'New Standard' }}</mat-card-title>
                </div>
                <button (click)="saveStandard()" mat-raised-button color="primary">
          Save
        </button>
            </mat-card-header>
            <mat-card-content fxLayout="column">
                <mat-form-field fxLayout="column" fxLayoutGap="1em">
                    <input matInput placeholder="Standard Name" [value]="standard.name" formControlName="name" />
                </mat-form-field>

                <mat-form-field class="example-chip-list">
                    <mat-chip-list #chipList aria-label="Divisions">
                        <mat-chip *ngFor="let div of standard.divisions" [selectable]="active" [removable]="active" (removed)="removeDivision(div)" selected [color]="primary">
                            {{ div }}
                            <mat-icon matChipRemove *ngIf="active">cancel</mat-icon>
                        </mat-chip>
                        <input placeholder="New Division..." [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="active" (matChipInputTokenEnd)="addDivision($event)" />
                    </mat-chip-list>
                </mat-form-field>
            </mat-card-content>
        </mat-card>
    </form>
</div>

<div class="card-container">
    <mat-card>
        <mat-card-header fxLayout="row">
            <mat-card-title>{{ 'Subjects' }}</mat-card-title>
            <div style="width: 90%"></div>
            <button [disabled]="!standard.uuid" (click)="openSubject()" mat-raised-button color="primary">
        New
      </button>
        </mat-card-header>
        <table mat-table [dataSource]="subjects" class="mat-elevation-z8">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Subject Name</th>
                <td mat-cell *matCellDef="let element">{{ element.name }}</td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="createdBy">
                <th mat-header-cell *matHeaderCellDef>Created By</th>
                <td mat-cell *matCellDef="let element">{{ element.createdBy }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="openSubject(row)"></tr>
        </table>
    </mat-card>
</div>