<h1 mat-dialog-title>{{title}}</h1>

<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Subject Name</mat-label>
        <input matInput [(ngModel)]="subjectName" />
    </mat-form-field>
</div>

<div mat-dialog-actions>
    <button mat-button color="primary" (click)="saveSubject()">Save</button>
    <button mat-button [disabled]="!data.subject.uuid" color="primary" (click)="deleteSubject()">
    Delete
  </button>
</div>