<h1 mat-dialog-title>Add Question</h1>
<div mat-dialog-content>
    <p>Enter Your Question</p>
    <mat-form-field class="example-chip-list">
        <mat-label>Enter Your Question</mat-label>
        <input matInput [(ngModel)]="question" />
    </mat-form-field>
    <br />
    <mat-form-field class="example-chip-list" *ngIf="question?.length">
        <mat-chip-list #chipList aria-label="Fruit selection">
            <mat-chip *ngFor="let option of options | keyvalue" [selectable]="active" [removable]="active" (removed)="removeOptions(option)">
                {{ option.value }}
                <mat-icon matChipRemove *ngIf="active">cancel</mat-icon>
            </mat-chip>
            <input placeholder="Options ..." [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="addOptions($event)" />
        </mat-chip-list>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button *ngIf="disableButton()" [mat-dialog-close]="" (click)="addQuestion()" cdkFocusInitial>
    Save
  </button>
    <button mat-button [mat-dialog-close]="" (click)="deleteQuestion()">
    Delete
  </button>
</div>