<div class="card-container" [formGroup]="quizForm" fxLayout="column" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="center">
    <mat-card>
        <mat-card-header fxLayout="row">
            <div style="width: 90%">
                <mat-card-title>
                    {{ 'Quiz Details' }}
                </mat-card-title>
            </div>
            <button fxFlex="5" (click)="saveQuiz()" mat-raised-button color="primary">
        Save
      </button>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field class="example-chip-list">
                <input type="text" placeholder="Select Standard" aria-label="Number" matInput formControlName="standard" [matAutocomplete]="standard" />
                <mat-autocomplete #standard="matAutocomplete">
                    <mat-option *ngFor="let standard of standards" [value]="standard.name">
                        {{ standard.name }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field class="example-chip-list">
                <input type="text" placeholder="Select subject" aria-label="Number" matInput formControlName="subject" [matAutocomplete]="subject" />
                <mat-autocomplete #subject="matAutocomplete">
                    <mat-option *ngFor="let subject of subjects" [value]="subject.name">
                        {{ subject.name }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field class="example-chip-list">
                <mat-label>Title</mat-label>
                <input matInput formControlName="title" />
            </mat-form-field>
            <mat-form-field class="example-chip-list">
                <mat-label>Quiz Type</mat-label>
                <mat-select formControlName="type">
                    <mat-option value="option">MCQ</mat-option>
                    <mat-option value="option">Question & Answer</mat-option>
                    <mat-option value="option">True or False</mat-option>
                </mat-select>
            </mat-form-field>
        </mat-card-content>
    </mat-card>
</div>

<div class="card-container" [formGroup]="quizForm" fxLayout="column" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="center">
    <mat-card>
        <mat-card-header fxLayout="row">
            <div style="width: 90%">
                <mat-card-title>
                    {{ 'Quiz Questions' }}
                </mat-card-title>
            </div>
            <button fxFlex="5" class="table-button" [disabled]="!quiz.uuid" (click)="newQuestionDialog()" mat-raised-button color="primary">
        New
      </button>
        </mat-card-header>
        <mat-card-content>
            <mat-accordion *ngFor="let question of quiz?.questions | keyvalue">
                <mat-expansion-panel [disabled]="true" [expanded]="true" hideToggle class="mat-elevation-z0">
                    <mat-expansion-panel-header>
                        <mat-panel-title style="color: black">{{ question.value['question'] }}
                        </mat-panel-title>
                        <mat-icon class="mat-panel" (click)="openQuestion(question)">edit</mat-icon>
                    </mat-expansion-panel-header>
                    <div fxLayout="row wrap" fxLayoutGap="16px grid">
                        <mat-chip-list fxFlex="50" fxFlex.xs="100" fxFlex.sm="50" *ngFor="let option of question?.value.options | keyvalue">
                            <mat-chip color="none" selected>
                                {{ option.key }} : {{ option.value }}
                            </mat-chip>
                        </mat-chip-list>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-card-content>
    </mat-card>
</div>