<div class="loading-shade" *ngIf="dataSource?.loading$ | async">
    <mat-progress-bar *ngIf="dataSource?.loading$ | async" mode="indeterminate"></mat-progress-bar>
</div>
<div class="card-container">
    <mat-card>
        <div class="search-models">
            <mat-form-field class="full-width">
                <input matInput placeholder="Search" [(ngModel)]="search" (keyup.enter)="setFilter()">
                <button mat-button matSuffix (click)="setFilter()">
          <mat-icon>search</mat-icon>
        </button>
            </mat-form-field>
        </div>
        <mat-card-header>
            <mat-card-title>{{ snakeToTitleCase(model) }}</mat-card-title>
        </mat-card-header>
        <mat-card-content class="table-container">
            <table mat-table class="full-width-table" [dataSource]="dataSource" matSort aria-label="Elements">

                <ng-container *ngFor="let cell of displayedColumns" [matColumnDef]="cell">
                    <th mat-header-cell *matHeaderCellDef>{{cell}}</th>
                    <td mat-cell *matCellDef="let row">{{row[cell]}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/' + model, row.uuid]"></tr>
            </table>

        </mat-card-content>
        <mat-card-actions>
            <mat-paginator #paginator class="mat-paginator-sticky" (page)="getUpdate($event)" [pageIndex]="paginator.pageIndex" [length]="dataSource?.length" [pageSizeOptions]="[10, 50, 100, 500]">
            </mat-paginator>
        </mat-card-actions>
    </mat-card>
</div>