<div class="card-container">
    <mat-card>
        <mat-content>
            <mat-tab-group mat-stretch-tabs animationDuration="10ms">
                <mat-tab  label="Live">
                    <div class="loading-shade" *ngIf="meet.loading$">
                        <mat-progress-bar *ngIf="meet.loading$" mode="indeterminate"></mat-progress-bar>
                    </div>

                    <div class="full-width" fxLayout="column" fxLayoutAlign="center center" >
                        <button color="secondary" *ngIf="!meet.active" mat-button (click)="startKaksha()">Join Kaksha</button>
                        <div id="#meet">
    
                        </div>
                    </div>
                </mat-tab>
                <mat-tab [disabled]="meet.active" label="Canvas">Canvas</mat-tab>
                <mat-tab [disabled]="meet.active" label="Interaction">Interaction</mat-tab>
            </mat-tab-group>
        </mat-content>
    </mat-card>
</div>