<h1 mat-dialog-title>{{title}}</h1>

<div mat-dialog-content>

  <mat-form-field class="example-full-width">
    <input
      required
      type="text"
      placeholder="Select Subject"
      matInput
      [formControl]="subjectFormControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete
      autoActiveFirstOption
      #auto="matAutocomplete"
      [displayWith]="getOptionText"
      (optionSelected)="subjectSelected($event.option.value)"
    >
      <mat-option
        *ngFor="let option of subjectsList | async"
        [value]="option"
      >
        {{ option.name }} - {{ option.standard}}
      </mat-option>
    </mat-autocomplete>
    <mat-error *ngIf="subjectFormControl.hasError('required')">
      Subject is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field *ngIf="subject?.divisions" class="example-chip-list">
      <mat-chip-list #chipList aria-label="Divisions">
        <mat-chip *ngFor="let div of subject.divisions" [selectable]="active"
                  [removable]="active" (removed)="removeDivision(div)" selected [color]="primary">
          {{div}}
          <mat-icon matChipRemove *ngIf="active && subject?.divisions?.length > 1">cancel</mat-icon>
        </mat-chip>
        <input placeholder="Divisions..."
                [disabled]="true"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="active"
                (matChipInputTokenEnd)="addDivision($event)">
    </mat-chip-list>
  </mat-form-field>

</div>

<div mat-dialog-actions>
  <button mat-button color="primary" (click)="saveSubject(subject)">Save</button>
  <button mat-button [disabled]="!subject?.uuid" color="primary" (click)="deleteSubject(subject.uuid)">Delete</button>
</div>