<div class="card-container">
    <form [formGroup]="teacherForm">
        <mat-card>
            <mat-card-title>{{ name || 'New Teacher' }}</mat-card-title>
            <mat-card-content fxLayout="column">
                <mat-form-field>
                    <input matInput placeholder="Email" formControlName="email" required />
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="First Name" formControlName="firstName" required />
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Middle Name" formControlName="middleName" />
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Last Name" formControlName="lastName" required />
                </mat-form-field>
                <mat-form-field>
                    <mat-datepicker-toggle matSuffix [for]="joiningDatePicker" [disabled]="joiningDate"></mat-datepicker-toggle>
                    <input matInput formControlName="joiningDate" [matDatepicker]="joiningDatePicker" placeholder="Joining Date" required (dateInput)="updateDate('joiningDate', $event)" />
                    <mat-datepicker #joiningDatePicker disabled="false"></mat-datepicker>
                </mat-form-field>
                <mat-form-field>
                    <mat-datepicker-toggle matSuffix [for]="leavingDatePicker"></mat-datepicker-toggle>
                    <input matInput formControlName="leavingDate" [matDatepicker]="leavingDatePicker" placeholder="Leaving Date" (dateInput)="updateDate('leavingDate', $event)" />
                    <mat-datepicker #leavingDatePicker disabled="false"></mat-datepicker>
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions fxLayout="row" fxLayoutGap="1em">
                <button (click)="updateTeacher()" mat-flat-button color="primary" [disabled]="!teacherForm.valid" *ngIf="name">
          Update
        </button>
                <button (click)="deleteTeacher()" mat-flat-button color="warn" [disabled]="!teacherForm.valid" *ngIf="name">
          Delete
        </button>
                <button (click)="createTeacher()" mat-flat-button color="primary" [disabled]="!teacherForm.valid" *ngIf="!name">
          Create
        </button>
            </mat-card-actions>
        </mat-card>
    </form>
</div>

<div class="card-container" fxLayout="column" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="center">
    <mat-card>
        <mat-card-header fxLayout="row">
            <mat-card-title>
                {{ 'Subjects' }}
            </mat-card-title>
            <div style="width: 90%"></div>
            <button class="table-button" [disabled]="!active" (click)="openSubject()" mat-raised-button color="primary">
        New
      </button>
        </mat-card-header>

        <table mat-table [dataSource]="subjects" class="mat-elevation-z8">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Subject Name</th>
                <td mat-cell *matCellDef="let element">{{ element.name }}</td>
            </ng-container>

            <ng-container matColumnDef="standard">
                <th mat-header-cell *matHeaderCellDef>Standard</th>
                <td mat-cell *matCellDef="let element">{{ element.standard }}</td>
            </ng-container>

            <ng-container matColumnDef="divisions">
                <th mat-header-cell *matHeaderCellDef>Divisions</th>
                <td mat-cell *matCellDef="let element">{{ element.divisions }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="openSubject(row)"></tr>
        </table>
    </mat-card>
</div>