<mat-drawer-container class="sidenav-container">
    <mat-drawer #drawer class="sidenav" fixedInViewport="true" [mode]="(isHandset$ | async) ? 'over' : 'side'" [disableClose]="!(isHandset$ | async)" [opened]="!(isHandset$ | async)">
        <mat-toolbar color="primary">Dashboard</mat-toolbar>
        <ng-container *ngIf="tokenIsValid">
            <div class="card-container">
                <mat-card class="user-info-card">
                    <mat-card-content fxFlexLayout="row" fxLayoutAlign="space-around center">
                        <div fxFlex="30">
                            <img class="user-img" [src]="userPicture" alt="" />
                        </div>
                        <div fxFlex="70">
                            <h2>
                                {{ userName }}
                            </h2>
                            <p>
                                {{ userEmail }}
                            </p>
                            <button fxLayoutAlign="center" mat-stroked-button *ngIf="loggedIn" (click)="logout()">
                LOG-OUT
              </button>
                            <button fxLayoutAlign="center" mat-stroked-button *ngIf="!loggedIn" (click)="logoin()">
                LOG-IN
              </button>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>

            <mat-nav-list>
                <a mat-list-item routerLink="/home">
                    <mat-icon>home</mat-icon>
                    <mat-line>Home</mat-line>
                </a>
            </mat-nav-list>
            <mat-nav-list>
                <a mat-list-item routerLink="/kaksha">
                    <mat-icon>live_tv</mat-icon>
                    <mat-line>Kaksha</mat-line>
                </a>
            </mat-nav-list>

            <mat-accordion>
                <mat-expansion-panel [expanded]="true" class="mat-elevation-z0">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Education</mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-nav-list>
                        <a mat-list-item routerLink="/list/standard">Standards</a>
                    </mat-nav-list>
                    <mat-nav-list>
                        <a mat-list-item routerLink="/list/student">Students</a>
                    </mat-nav-list>
                    <mat-nav-list>
                        <a mat-list-item routerLink="/list/teacher">Teachers</a>
                    </mat-nav-list>
                    <mat-nav-list>
                        <a mat-list-item routerLink="/list/subject">Subjects</a>
                    </mat-nav-list>
                    <mat-nav-list>
                        <a mat-list-item routerLink="/list/quiz">Quiz</a>
                    </mat-nav-list>
                </mat-expansion-panel>
            </mat-accordion>
            <mat-accordion>
                <mat-expansion-panel class="mat-elevation-z0">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Organization</mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-nav-list>
                        <a mat-list-item routerLink="/organization">Settings</a>
                    </mat-nav-list>
                </mat-expansion-panel>
            </mat-accordion>
        </ng-container>
        <mat-accordion>
            <mat-expansion-panel class="mat-elevation-z0">
                <mat-expansion-panel-header>Account</mat-expansion-panel-header>
                <mat-nav-list>
                    <a mat-list-item *ngIf="!loggedIn" (click)="login()">Login</a>
                    <a mat-list-item *ngIf="loggedIn" (click)="logout()">Logout</a>
                </mat-nav-list>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-drawer>
    <mat-drawer-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
        </mat-toolbar>
        <router-outlet></router-outlet>
        <button *ngIf="fabButtonEnable" class="fab-container" (click)="addModel()" mat-fab>
      <mat-icon>add</mat-icon>
    </button>
    </mat-drawer-content>
</mat-drawer-container>