@import url('https://fonts.googleapis.com/css?family=Roboto');
.fab-container {
    position: fixed;
    top: 35px;
    right: 25px;
    z-index: 100;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 300px;
    border-right: none;
    box-shadow: 1px 0 4px rgb(0, 0, 0, .24)
}

.mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 2;
}

.user-img {
    width: 100%;
    border-radius: 50%;
}

mat-card.user-info-card {
    border-radius: 15px;
    background: linear-gradient(113deg, #8055F55C, #0D9ED55C);
}

p {
    font-family: Roboto;
    font-weight: 500;
    font-size: small;
    margin: 1%;
    padding: 1%;
}

h2 {
    font-weight: 500;
    margin: 0;
    padding: 0;
}

button {
    font-size: small;
    font-weight: 600;
    color: #3B3F8D;
    border-width: 1.5px;
    border-color: #3B3F8D !important;
    border-radius: 15px
}